*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS 1p", sans-serif;
}

section.Home{
    width: 100%;
    height: 60vh;
    background-image: url(/img/SV.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

section.Home .container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); 
    background: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
}

section.Home .container .text{
    color: #FFF;
    font-size: 2rem;
    text-align: center;
}

.container .text span{
    font-weight: bold;
}

section.Bio{
    height: 50vh;
    width: 100%;
}

section.Bio .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    
}

.foto{
    width: 300px;
    height: 300px;
    margin-left: 200px;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #0033A0;
}

.Historia{
    max-width: 1000px;
}

.Historia h2{
    font-size: 30px;
}

.Historia p{
    margin-top: 30px;
    line-height: 25px;
    max-width: 700px;
}

footer{
    background-color: #222;
    height: 15vh;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .container h2{
    color: #FFF;
    margin-top: 15px;
}

footer .container p{
    color: #FFF;
    margin-top: 10px;
}